/* Hide the whole toolbar area unless urlbar is focused or cursor is over the toolbar.
 * Dimensions on non-Win10 OS probably needs to be adjusted. */
:root {
	/* Wait 0.1s before hiding toolbars. */
	--uc-autohide-toolbox-delay: 200ms;

	/* This may need to be lower on mac - like 75 or so. */
	--uc-toolbox-rotation: 82deg;
}

:root[sizemode="maximized"] {
	--uc-toolbox-rotation: 89deg;
}

@media (-moz-os-version: windows-win7),(-moz-os-version: windows-win10) {
	:root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box { margin-top: 8px !important; }

	@media screen and (min-resolution: 1.25dppx) {
		:root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box { margin-top: 8px !important; }
		:root[tabsintitlebar][sizemode="maximized"] #navigator-toolbox { margin-top: -1px; }
	}

	@media screen and (min-resolution: 1.5dppx) {
		:root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box { margin-top: 8px !important; }
	}

	@media screen and (min-resolution: 2dppx) {
		:root[tabsintitlebar][sizemode="maximized"]:not([inDOMFullscreen]) > body > box { margin-top: 7px !important; }
	}

	#navigator-toolbox:not(:-moz-lwtheme) {
		background-color: rgb(32, 35, 64) !important;
	}
}

:root[sizemode="fullscreen"] {
	margin-top: 0px !important;
}

#navigator-toolbox {
	position: fixed !important;
	display: block;
	background-color: var(--lwt-accent-color,black) !important;
	transition: transform 82ms linear, opacity 82ms linear !important;
	transition-delay: var(--uc-autohide-toolbox-delay) !important;
	transform-origin: top;
	transform: rotateX(var(--uc-toolbox-rotation));
	opacity: 0;
	line-height: 0;
	z-index: 1;
	pointer-events: none;
}

#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
	transition-delay: 33ms !important;
	transform: rotateX(0);
	opacity: 1;
}

#navigator-toolbox > * {
	line-height: normal; pointer-events: auto
}

#navigator-toolbox,
#navigator-toolbox > * {
	width: 100vw;
	-moz-appearance: none !important;
}

/* These two exist for oneliner compatibility. */
#nav-bar {
	width: var(--uc-navigationbar-width,100vw)
}

#TabsToolbar {
	width: calc(100vw - var(--uc-navigationbar-width,0px))
}

/* Do not apply transform before window has been fully created. */
:root:not([sessionrestored]) #navigator-toolbox { transform:none !important }

:root[customizing] #navigator-toolbox {
	position: relative !important;
	transform: none !important;
	opacity: 1 !important;
}

#navigator-toolbox[inFullscreen] > #PersonalToolbar,
#PersonalToolbar[collapsed="true"] {
	display: none
}
