body {
	background-color: #000000;
	font-family: "Source Sans Pro", sans-serif;
}

.grid-container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}

.tree-column {
	margin-left: 10px;
	margin-right: 50px;
	color: #00ffff;
	font-size: 14px;
}

a {
	color: #ff00af;
	text-decoration: none;
}

a:hover {
	color: #d70087;
}

a:visited {
	color: #87005f;
}

.meta {
	color: #00ffff;
}
