:root {
	--black       = "#000000";
	--blueviolet  = "#5f00ff";
	--chartreuse3 = "#5faf00";
	--chartreuse4 = "#5fd700";
	--cyan1       = "#00ffff";
	--darkred     = "#870000";
	--darkviolet  = "#8700d7";
	--deep_pink1  = "#ff00af";
	--deep_pink3  = "#d70087";
	--deep_pink4  = "#87005f";
	--gold3       = "#afaf00";
	--greenyellow = "#afff00";
	--grey11      = "#1c1c1c";
	--grey42      = "#6c6c6c";
	--magenta1    = "#ff00ff";
	--magenta3    = "#af00af";
	--purple      = "#8700ff";
	--purple4     = "#5f0087";
	--red1        = "#ff0000";
	--yellow3     = "#d7d700";
	--yellow4     = "#878700";
}
